# **Chapter 5**
## *Persisting Time Series Data to Databases*, 

This chapter builds on Chapter 4, Persisting Time Series Data to Files, focusing on writing data for scale. This covers different techniques for writing data to relational and non-relational database systems like those discussed in Chapter 2, Reading Time Series Data from Files, including on-premises and cloud services

The goal of this chapter is to give you first-hand experience working with different methods to connect to these database systems to persist your time series DataFrame.  

Here is the list of the recipes that we will cover in this chapter:
* Writing time series data to a relational database (PostgreSQL and MySQL)
* Writing time series data to MongoDB
* Writing time series data to InfluxDB
* Writing time series data to Snowflake

# Recipe 1: Writing Data to Relational Databases

In the *Reading data from relational database* recipe in **Chapter 3**, *Reading Time Series Data from Databases*, you installed `sqlalchemy` and `psycopg` for the read engine. For this recipe, you will be using these two libraries again.  

You will also use the `pandas-datareader` library to pull stock data.  

* To install the libraries using `pip`, run the following:

In [ ]:
!pip3 install -U pandas-datareader yfinance

## Writing Data to PostgreSQL

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()

engine = create_engine("postgresql+psycopg://postgres:password@localhost:5432/postgres")

In [3]:
engine

Engine(postgresql+psycopg://postgres:***@localhost:5432/postgres)

In [4]:
amzn_df_2020 = pdr.get_data_yahoo('AMZN', 
                                  start='2020-01-01', 
                                  end='2020-12-31')

[*********************100%***********************]  1 of 1 completed

In [5]:
amzn_df_2020.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  93.750000  94.900497  93.207497  94.900497  94.900497  80580000
2020-01-03  93.224998  94.309998  93.224998  93.748497  93.748497  75288000
2020-01-06  93.000000  95.184502  93.000000  95.143997  95.143997  81236000
2020-01-07  95.224998  95.694504  94.601997  95.343002  95.343002  80898000
2020-01-08  94.902000  95.550003  94.321999  94.598503  94.598503  70160000

In [6]:
amzn_df_2020.shape

(252, 6)

In [7]:
amzn_df_2020.to_sql('amazon', engine, if_exists='replace')

OperationalError: (psycopg.OperationalError) connection failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (::1), port 5432 failed: Cannot assign requested address
	Is the server running on that host and accepting TCP/IP connections?
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
query = """
SELECT EXISTS (
   SELECT FROM information_schema.tables 
   WHERE table_schema = 'public'
     AND table_name = 'amazon'
);
"""
engine.execute(query).fetchone()

(True,)

In [ ]:
query = "SELECT count(*) FROM amazon;"
engine.execute(query).fetchone()

(253,)

In [ ]:
amzn_df_2021 = web.get_data_yahoo('AMZN', 
                                  start='2021-01-01', 
                                  end='2021-06-01')

In [ ]:
amzn_df_2021.to_sql('amazon',
                    engine,
                    if_exists='append')

103

In [ ]:
amzn_df_2021.shape

(103, 6)

In [ ]:
query = "SELECT count(*) FROM amazon;"
engine.execute(query).fetchone()

(356,)

## There is more

### Writing to MySQL

In [ ]:
engine = create_engine("mysql+pymysql://root:password@localhost:3306/stocks")

# uncomment if you need to pull the data again
# amzn_df_2020 = web.get_data_yahoo('AMZN', 
#                                   start='2020-01-01', 
#                                   end='2020-12-31')

amzn_df_2020.to_sql('amazon',
                    engine,
                    if_exists='replace')

query = "SELECT count(*) FROM amazon;"
engine.execute(query).fetchone()

(253,)

In [ ]:
query = "SELECT * FROM amazon;"
engine.execute(query).fetchone()

(datetime.datetime(2020, 1, 2, 0, 0), 94.90049743652344, 93.2074966430664, 93.75, 94.90049743652344, 80580000, 94.90049743652344)

In [ ]:
amzn_df_2021.to_sql('amazon',
                    engine,
                    if_exists='append')

query = "SELECT count(*) FROM amazon;"
engine.execute(query).fetchone()

(356,)

# Recipe 2: Storing Data to MongoDB

In the *Reading data from a document database* recipe in **Chapter 3**, *Reading Time Series Data from Databases*, we installed `pymongo`. For this recipe, you will be using that same library again.

* To install using pip, run the following:

In [ ]:
!pip3 install -U pymongo

In [ ]:
import pandas as pd
from pymongo import MongoClient

In [ ]:
client = MongoClient('mongodb://localhost:27017')

In [ ]:
db = client['stocks']
collection = db['amazon']

In [ ]:
amzn_df_2020

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,94.900497,93.207497,93.750000,94.900497,80580000,94.900497
2020-01-03,94.309998,93.224998,93.224998,93.748497,75288000,93.748497
2020-01-06,95.184502,93.000000,93.000000,95.143997,81236000,95.143997
2020-01-07,95.694504,94.601997,95.224998,95.343002,80898000,95.343002
2020-01-08,95.550003,94.321999,94.902000,94.598503,70160000,94.598503
...,...,...,...,...,...,...
2020-12-24,160.100006,158.449997,159.695007,158.634506,29038000,158.634506
2020-12-28,165.199997,158.634506,159.699997,164.197998,113736000,164.197998
2020-12-29,167.532501,164.061005,165.496994,166.100006,97458000,166.100006
2020-12-30,167.104996,164.123505,167.050003,164.292496,64186000,164.292496
2020-12-31,164.145996,162.059998,163.750000,162.846497,59144000,162.846497

In [ ]:
amzn_records = amzn_df_2020.reset_index().to_dict(orient='records')

In [ ]:
len(amzn_records)

253

In [ ]:
#amzn_df_2020.reset_index().to_dict()

In [ ]:
amzn_records[0:1]

[{'Date': Timestamp('2020-01-02 00:00:00'),
  'High': 94.90049743652344,
  'Low': 93.2074966430664,
  'Open': 93.75,
  'Close': 94.90049743652344,
  'Volume': 80580000,
  'Adj Close': 94.90049743652344}]

In [ ]:
collection.insert_many(amzn_records)

In [ ]:
client.list_database_names()

['admin', 'config', 'local', 'stocks']

In [ ]:
db.list_collection_names()

['amazon']

In [ ]:
collection.find_one()

{'_id': ObjectId('62a1ad56ccf4b41da835bf39'),
 'Date': datetime.datetime(2020, 1, 2, 0, 0),
 'High': 94.90049743652344,
 'Low': 93.2074966430664,
 'Open': 93.75,
 'Close': 94.90049743652344,
 'Volume': 80580000,
 'Adj Close': 94.90049743652344}

In [ ]:
# filter documents that are greater than August 1, 2020
# and retrieve the first record
import datetime
collection.find_one({'Date': {'$gt': datetime.datetime(2020, 8, 1)}})

{'_id': ObjectId('62a1ad56ccf4b41da835bfcc'),
 'Date': datetime.datetime(2020, 8, 3, 0, 0),
 'High': 159.1999969482422,
 'Low': 155.1999969482422,
 'Open': 159.02549743652344,
 'Close': 155.59449768066406,
 'Volume': 101494000,
 'Adj Close': 155.59449768066406}

In [ ]:
collection.count_documents({})

253

### InsertOneResult

In [ ]:
one_record = amzn_df_2021.reset_index().iloc[0].to_dict()
one_record

{'Date': Timestamp('2021-01-04 00:00:00'),
 'High': 163.60000610351562,
 'Low': 157.2010040283203,
 'Open': 163.5,
 'Close': 159.3314971923828,
 'Volume': 88228000,
 'Adj Close': 159.3314971923828}

In [ ]:
result_id = collection.insert_one(one_record)

In [ ]:
result_id

In [ ]:
result_id.inserted_id

ObjectId('62a1ad5fccf4b41da835c036')

In [ ]:
list(collection.find({'Date': {'$gt': datetime.datetime(2020, 8, 1)}}, {'Close': 1 }))[0:10]

[{'_id': ObjectId('62a1ad56ccf4b41da835bfcc'), 'Close': 155.59449768066406},
 {'_id': ObjectId('62a1ad56ccf4b41da835bfcd'), 'Close': 156.94149780273438},
 {'_id': ObjectId('62a1ad56ccf4b41da835bfce'), 'Close': 160.25149536132812},
 {'_id': ObjectId('62a1ad56ccf4b41da835bfcf'), 'Close': 161.25},
 {'_id': ObjectId('62a1ad56ccf4b41da835bfd0'), 'Close': 158.3730010986328},
 {'_id': ObjectId('62a1ad56ccf4b41da835bfd1'), 'Close': 157.4080047607422},
 {'_id': ObjectId('62a1ad56ccf4b41da835bfd2'), 'Close': 154.0334930419922},
 {'_id': ObjectId('62a1ad56ccf4b41da835bfd3'), 'Close': 158.11199951171875},
 {'_id': ObjectId('62a1ad56ccf4b41da835bfd4'), 'Close': 158.05099487304688},
 {'_id': ObjectId('62a1ad56ccf4b41da835bfd5'), 'Close': 157.4010009765625}]

## There is more

### MongoDB Bucketing
* Bucketing strategy page 135

In [ ]:
bucket = db['stocks_bucket']
amzn_df_2020['month'] = amzn_df_2020.index.month

In [ ]:
for month in amzn_df_2020.index.month.unique():
    record = {}
    record['month'] = month
    record['symbol'] = 'AMZN'
    record['price'] = list(amzn_df_2020[amzn_df_2020['month'] == month]['Close'].values)
    bucket.insert_many([record])

In [ ]:
bucket.count_documents({})

12

In [ ]:
bucket.find_one({'month': 6})

{'_id': ObjectId('62a1ad66ccf4b41da835c03c'),
 'month': 6,
 'symbol': 'AMZN',
 'price': [123.552001953125,
  123.62049865722656,
  123.91999816894531,
  123.02999877929688,
  124.1500015258789,
  126.2030029296875,
  130.04299926757812,
  132.37249755859375,
  127.89800262451172,
  127.2509994506836,
  128.63400268554688,
  130.7635040283203,
  132.0489959716797,
  132.69900512695312,
  133.75050354003906,
  135.6909942626953,
  138.2205047607422,
  136.72000122070312,
  137.72900390625,
  134.64349365234375,
  134.0189971923828,
  137.9409942626953]}

### MongoDB Time Series Collection
* Introduction to "Time Series Collection"

> "As of MongoDB 5.0, the database natively supports time series data by creating a special collection type called time series collection" , Chapter 5 Page 136

In [ ]:
ts = db.create_collection(name="stocks_ts", 
                          capped=False,
                          timeseries={"timeField": "date", 
                                      "metaField": "metadata"})

In [ ]:
[i for i in db.list_collections() if i['name'] =='stocks_ts']

[{'name': 'stocks_ts',
  'type': 'timeseries',
  'options': {'timeseries': {'timeField': 'date',
    'metaField': 'metadata',
    'granularity': 'seconds',
    'bucketMaxSpanSeconds': 3600}},
  'info': {'readOnly': False}}]

In [ ]:
cols = ['Close']
records = []
for month in amzn_df_2020[cols].iterrows():
    records.append(
        {'metadata': {'ticker': 'AMZN', 'type': 'close'},
         'date': month[0],
         'price': month[1]['Close']})

In [ ]:
records[0:1]

[{'metadata': {'ticker': 'AMZN', 'type': 'close'},
  'date': Timestamp('2020-01-02 00:00:00'),
  'price': 94.90049743652344}]

In [ ]:
ts.insert_many(records)

In [ ]:
ts.find_one({})

{'date': datetime.datetime(2020, 1, 2, 0, 0),
 'metadata': {'ticker': 'AMZN', 'type': 'close'},
 'price': 94.90049743652344,
 '_id': ObjectId('62a1ad6eccf4b41da835c043')}

# Recipe 3: Storing Data to Time Series Database (InfluxDB)

You will be using the **ExtraSensory** dataset, a mobile sensory dataset made available by the University of California, San Diego, which you can download here: http://
extrasensory.ucsd.edu/.  

There are 278 columns in the dataset. You will be using two of these columns to demonstrate how to write to InfluxDB. You will be using the timestamp (date ranges from 2015-07-23 to 2016-06-02, covering 152 days) and the watch accelerometer reading (measured in milli G-forces or milli-G).

Before you can interact with InfluxDB using Python, you will need to install the InfluxDB Python library. We will be working with InfluxDB 2.X, so make sure you are installing
`influxdb-client` 1.36.1 (and not influxdb-python, which supports InfluxDB up to 1.8x).

* You can install the library with `pip` by running the following command:

In [ ]:
!pip3 install influxdb-client[extra]

Collecting influxdb-client[extra]
  Downloading influxdb_client-1.36.1-py3-none-any.whl (721 kB)
      721.2/721.2 kB 4.9 MB/s eta 0:00:00a 0:00:01
Collecting reactivex>=4.0.4 (from influxdb-client[extra])
  Downloading reactivex-4.0.4-py3-none-any.whl (217 kB)
      217.8/217.8 kB 7.4 MB/s eta 0:00:00
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/site-packages (from influxdb-client[extra]) (2022.12.7)
Requirement already satisfied: python-dateutil>=2.5.3 in /root/.local/lib/python3.11/site-packages (from influxdb-client[extra]) (2.8.2)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/site-packages (from influxdb-client[extra]) (65.5.1)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.11/site-packages (from influxdb-client[extra]) (1.26.15)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.11/site-packages (from influxdb-client[extra]) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/site-packages (from influxdb-client[extra]) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/site-packages (from pandas>=0.25.3->influxdb-client[extra]) (2023.3)
Requirement already satisfied: six>=1.5 in /root/.local/lib/python3.11/site-packages (from python-dateutil>=2.5.3->influxdb-client[extra]) (1.16.0)
Requirement already satisfied: typing-extensions<5.0.0,>=4.1.1 in /usr/local/lib/python3.11/site-packages (from reactivex>=4.0.4->influxdb-client[extra]) (4.5.0)
Installing collected packages: reactivex, influxdb-client
Successfully installed influxdb-client-1.36.1 reactivex-4.0.4
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
from influxdb_client import InfluxDBClient, WriteOptions
from influxdb_client.client.write_api import SYNCHRONOUS
import pandas as pd

In [ ]:
import influxdb_client
influxdb_client.__version__

'1.29.1'

In [ ]:
file = 'datasets/ExtraSensory/0A986513-7828-4D53-AA1F-E02D6DF9561B.features_labels.csv.gz'
columns = ['timestamp',
           'watch_acceleration:magnitude_stats:mean']
df = pd.read_csv(file, usecols=columns)
df = df.fillna(method='backfill')
df.columns = ['timestamp', 'acc']
df.shape

(3960, 2)

In [ ]:
df.head()

    timestamp          acc
0  1449601597   995.369977
1  1449601657   995.369977
2  1449601717   995.369977
3  1449601777   996.406005
4  1449601855  1034.180063

In [ ]:
df['timestamp'] = pd.to_datetime(df['timestamp'],
                                  origin='unix',
                                  unit='s',
                                  utc=True)

In [ ]:
df.head()

                  timestamp          acc
0 2015-12-08 19:06:37+00:00   995.369977
1 2015-12-08 19:07:37+00:00   995.369977
2 2015-12-08 19:08:37+00:00   995.369977
3 2015-12-08 19:09:37+00:00   996.406005
4 2015-12-08 19:10:55+00:00  1034.180063

In [ ]:
df.set_index('timestamp', inplace=True)

In [ ]:
df.head()

                                   acc
timestamp
2015-12-08 19:06:37+00:00   995.369977
2015-12-08 19:07:37+00:00   995.369977
2015-12-08 19:08:37+00:00   995.369977
2015-12-08 19:09:37+00:00   996.406005
2015-12-08 19:10:55+00:00  1034.180063

In [ ]:
bucket = 'sensor'
org = 'my-org'
token = 'WXT1Hkn-Hg3FGvKChg4UQ2IW2c2_zprqbj63A1GntGVVQIZ2wZP8egDSD91MH_56sM8LbheJ1WZjM1iNI_60NQ=='
client = InfluxDBClient(url='http://localhost:8086', token=token)

In [ ]:
writer = client.write_api(WriteOptions(SYNCHRONOUS,
                     batch_size=500,
                     max_retries=5_000))
writer.write(bucket=bucket,
             org=org,
             record=df,
             write_precision='ns',
             data_frame_measurement_name='acc',
             data_frame_tag_columns=[])

In [ ]:
query = """
from(bucket: "sensor")
|> range(start: 2015-12-08)
"""

result = client.query_api()

influx_df = result.query_data_frame(
    org=org,
    query=query,
    data_frame_index='_time')

In [ ]:
influx_df.shape

(3960, 7)

In [ ]:
influx_df.columns

Index(['result', 'table', '_start', '_stop', '_value', '_field',
       '_measurement'],
      dtype='object')

In [ ]:
influx_df.head()

,result,table,_start,_stop,_value,_field,_measurement
_time,,,,,,,
2015-12-08 19:06:37+00:00,_result,0,2015-12-08 00:00:00+00:00,2022-06-09 08:21:14.598248+00:00,995.369977,acc,acc
2015-12-08 19:07:37+00:00,_result,0,2015-12-08 00:00:00+00:00,2022-06-09 08:21:14.598248+00:00,995.369977,acc,acc
2015-12-08 19:08:37+00:00,_result,0,2015-12-08 00:00:00+00:00,2022-06-09 08:21:14.598248+00:00,995.369977,acc,acc
2015-12-08 19:09:37+00:00,_result,0,2015-12-08 00:00:00+00:00,2022-06-09 08:21:14.598248+00:00,996.406005,acc,acc
2015-12-08 19:10:55+00:00,_result,0,2015-12-08 00:00:00+00:00,2022-06-09 08:21:14.598248+00:00,1034.180063,acc,acc

In [ ]:
influx_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3960 entries, 2015-12-08 19:06:37+00:00 to 2015-12-11 18:48:27+00:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   result        3960 non-null   object
 1   table         3960 non-null   int64
 2   _start        3960 non-null   datetime64[ns, tzutc()]
 3   _stop         3960 non-null   datetime64[ns, tzutc()]
 4   _value        3960 non-null   float64
 5   _field        3960 non-null   object
 6   _measurement  3960 non-null   object
dtypes: datetime64[ns, tzutc()](2), float64(1), int64(1), object(3)
memory usage: 247.5+ KB

In [ ]:
writer

In [ ]:
writer.close()

In [ ]:
client.close()

### There is more
**With Clause**

In [ ]:
with InfluxDBClient(url='http://localhost:8086', token=token) as client:
    with client.write_api(WriteOptions(SYNCHRONOUS,
                          batch_size=500,
                          max_retries=5_000)) as writer:        
        writer.write(bucket=bucket,
                        org=org,
                        record=df,
                        write_precision='ns',
                        data_frame_measurement_name='acc',
                        data_frame_tag_columns=[])

# Recipe 4: Storing Data in Snowflake

To connect to Snowflake, you will need to install the Snowflake Python connector.

* To install using `pip`, run the following:

In [ ]:
# !pip3 install -Uq snowflake-connector-python[pandas]
# !pip3 install -Uq snowflake-sqlalchemy

### Using `pandas.to_sql`

In [ ]:
import pandas as pd
from snowflake.connector.pandas_tools import pd_writer
from configparser import ConfigParser
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

In [ ]:
# uncomment if you need to recreate the DataFrame
# file = 'datasets/ExtraSensory/0A986513-7828-4D53-AA1F-E02D6DF9561B.features_labels.csv.gz'
# columns = ['timestamp',
#            'watch_acceleration:magnitude_stats:mean']

# df = pd.read_csv(file, usecols=columns)
# df = df.fillna(method='backfill')
# df.columns = ['timestamp','acc']
# df['timestamp'] = pd.to_datetime(df['timestamp'],
#                                   origin='unix',
#                                   unit='s',
#                                   utc=True)

In [ ]:
df = df.reset_index()
df.columns = df.columns.str.upper()
df.head()

                  TIMESTAMP          ACC
0 2015-12-08 19:06:37+00:00   995.369977
1 2015-12-08 19:07:37+00:00   995.369977
2 2015-12-08 19:08:37+00:00   995.369977
3 2015-12-08 19:09:37+00:00   996.406005
4 2015-12-08 19:10:55+00:00  1034.180063

In [ ]:
# connector.paramstyle='qmark'
config = ConfigParser()
config.read('snow.cfg')
config.sections()
params = dict(config['SNOWFLAKE'])

In [ ]:
url = URL(**params)
engine = create_engine(url)
# connection = engine.connect()

In [ ]:
try:
    df.to_sql('sensor',
              engine,
              index=False,
              method=pd_writer,
              if_exists='replace')
except:
    print('failed to write')

In [ ]:
query = 'SELECT * FROM SENSOR;'
try:
    snow_df = pd.read_sql(query, engine, index_col='timestamp')
    snow_df.info()
except:
    print('failed to query')

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3960 entries, 2015-12-08 19:06:37 to 2015-12-11 18:48:27
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   acc     3960 non-null   float64
dtypes: float64(1)
memory usage: 61.9 KB

In [ ]:
snow_df.head()

                             acc
timestamp
2015-12-08 19:06:37   995.369977
2015-12-08 19:07:37   995.369977
2015-12-08 19:08:37   995.369977
2015-12-08 19:09:37   996.406005
2015-12-08 19:10:55  1034.180063

## There is more
### Using `write_pandas`

In [ ]:
from snowflake import connector
from snowflake.connector.pandas_tools import pd_writer, write_pandas

con = connector.connect(**params)
cursor = con.cursor()

# delete records from the previous write
cursor.execute('DELETE FROM sensor;')

# uncomment if the dataframe has an index and lower case column names
# df = df.reset_index()
# df.columns = df.columns.str.upper()

success, nchunks, nrows, copy_into = write_pandas(con, df, table_name='SENSOR')

In [ ]:
print('success: ', success)
print('number of chunks: ', nchunks)
print('number of rows: ', nrows)
print('COPY INTO output', copy_into)

success:  True
number of chunks:  1
number of rows:  3960
COPY INTO output [('zztdm/file0.txt', 'LOADED', 3960, 3960, 1, 0, None, None, None, None)]